
#banner {
	background-image:url(https://images.pexels.com/photos/8681710/pexels-photo-8681710.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);

	background-position: center;
	background-size: center;
	background-repeat: no-repeat;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.fab {
	font-size: 2rem;
	color: white;
}